@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
.main {
  padding: 1rem;
  color: #2D2424;
  min-height: 90vh;
  min-width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  background: rgb(28,36,0);
  background: linear-gradient(166deg, rgba(28,36,0,0.12648809523809523) 16%, rgba(0,212,255,1) 100%);
}
.content-container {
  animation: fadeandscale 1s cubic-bezier(.76,-0.66,1,2);
  transform-origin: center-bottom;
  animation-delay: .2s;
}

.footer {
  color: whitesmoke;
  background-color: #072227;
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;

}

.image {
  fill: yellow;
  height: 50%;
  width: 100%;
  animation: fadeandscale 2s cubic-bezier(.76,-0.66,1,2);
  transform-origin: center-bottom;
  animation-delay: .2s;
}

.title {
  font-size: 3rem;
background: rgb(3,59,126);
background: radial-gradient(circle, rgba(3,59,126,1) 35%, rgba(0,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  font-family: inherit;
  border-radius: 10px;
  color: inherit;
  background-color: inherit;
  outline: none;
  font-size: 1rem;
  width: 40%;
  padding: 1rem; 
  border: 2px solid #150485;
  transition: ease-out 0.6s;
  box-shadow: 5px 5px 5px 2px gray;
  position: relative;
  z-index: 1;
}
.button:hover {
  cursor: pointer;
  color: whitesmoke;
}
.button::before {
  content: "";
  border-radius: 10px;
  transition: 0.7s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #150485;
}
.button:hover::before {
  transition: 0.7s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button {
    margin: 0 0 2rem 0;
  }
  .image {
    width: 70%;
  }
}
@keyframes fadeandscale {
  0% {
    opacity: 0;
    transform: scale3d(.75, .75, .1);
  }
  60% {
    opacity: 0;
    transform: scale3d(.75, .75, .1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1.0);
  }
}